*, html, body {
    margin:0;
    padding: 0;
}

/*Фон всего блока*/
.goodsbackground {
    background-color:#90604C ;
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
   
}
/*Фон одного товара*/
.goodbackground {
    background-color: white;
    border-radius: 2px;
}
/*Манипуляции с каруселькой*/
.carsize {
    width:80%;
    min-height: 140px;
}

.carousel-indicators [data-bs-target] {
height: 5px;
    margin-right: 4.9px !important;
    margin-left: 5px !important;
    background-color: #EEB256;
    border-top: none;
    border-bottom: none;
   
}


.mine {
    border-radius: 100px;
}
/*Новинка*/
.new {
    background-color: #56779D;
    font-size: 60%;
    font-weight: bold;
    padding: 2%;
    height: 10%;
    /* border-radius:10%; */
color:white;

}
/*Хит*/
.hit {
    background-color: #8EC1AC;
    font-size: 60%;
    font-weight: bold;
    padding: 2%;
    /* border-radius:10%; */
    color:white;
   
}

/*Код товара и наличие*/
.infosize {
    color: #988E8C;
    font-size: 8px;
display: flex;
align-items: center;
font-weight: 700;
}

/*Шрифты для пронкта*/

.nova {
    font-family: Proxima Nova;
}

.mary {
    font-family: Merriweather;
}
/*Заголовок карточки товара*/
.headof {
    color: #311E19;
    font-weight: 500px;
   min-height: 64px;
    line-height: 1;
}
/*Описание товара*/
.desc {
    color: #988E8C;
    font-size: 10px;
}
/*Цена и скидка*/
.price {
    color:#E34F45;
    font-size: 14px;
    font-weight: bold;
}

.discount {
    color:rgb(220, 220, 220);
    font-size:10px;
  display: flex;
  align-items: center;
    font-weight: bold;
    text-decoration: line-through;
}
/*Кнопка корзины*/
.lightbrown {
   background-color: #EEB256; 
   color:white;
   font-weight: bold;

   min-height: 50px;
   font-size: 12px;
   border-radius: 2px;
}

.lightbrown:hover {
    background-color: #EEB256; 
}
/*Выпадающее меню с категориям*/
.car {
    background: #EEB256;
    color:#311E19;
    font-weight: bold;
    box-shadow: 0px 4px 20px rgba(99, 50, 15, 0.7);
    border-radius: 100px;
    border:5px solid #8A513A;
    text-align: left;
}

.car:first-child:active {
    background: #EEB256;
  
    border:5px solid #8A513A;
}
.car:hover {
    background: #EEB256;
}

.car:active {
    background: #EEB256;
    border:5px solid #8A513A;
}

.car:focus {
    background: #EEB256;
    border:5px solid #8A513A;
}
.car:disabled {
    background-color: #8A513A;
}

.dropdown {
    margin-bottom: 15px;
}


.dropdown-toggle::after {
    display: none !important;
}

.arrow {
    margin-left: 70%;
}

.dropdown-item {
    background: #EEB256;
    color:#311E19;
    font-weight: bold; 
}

.dropdown-menu.show {

    background: #EEB256;
    color:#311E19;
    font-weight: bold;  
}